In [1]:
import numpy as np
import pandas as pd 

import time
import re

In [2]:
sheets = pd.ExcelFile("./mena1.xlsx").sheet_names
countries = [re.match(r"^[a-zA-Z]+$", i).string for i in
             sheets if re.match(r"^[a-zA-Z]+$", i)]

In [3]:
a = list()
for country in countries:
    print(country)
    %run ./regressions.ipynb
    a.append(panel_dat)

Morocco
MA0000012205 2013 invalid value encountered in double_scalars
Tunisia
Israel
IL0011398646 2016 divide by zero encountered in double_scalars

C:\Users\samir\AppData\Roaming\Python\Python38\site-packages\pandas\core\internals\blocks.py:352: RuntimeWarning: divide by zero encountered in log
  result = func(self.values, **kwargs)

IL0010837164 2022 invalid value encountered in double_scalars

C:\Users\samir\AppData\Roaming\Python\Python38\site-packages\pandas\core\internals\blocks.py:352: RuntimeWarning: divide by zero encountered in log
  result = func(self.values, **kwargs)
C:\Users\samir\AppData\Roaming\Python\Python38\site-packages\pandas\core\internals\blocks.py:352: RuntimeWarning: divide by zero encountered in log
  result = func(self.values, **kwargs)
C:\Users\samir\AppData\Roaming\Python\Python38\site-packages\pandas\core\internals\blocks.py:352: RuntimeWarning: divide by zero encountered in log
  result = func(self.values, **kwargs)

IL0010935588 2022 invalid value encountered in double_scalars
Egypt
EGS70P91C010(P) 2012 divide by zero encountered in log
Bahrain
Iraq
Kuwait
Lebanon
Oman
Qatar
QA000M2522L9(P) 2018 divide by zero encountered in double_scalars
Saudi
SA135G51UI10(P) 2012 divide by zero encountered in double_scalars
SA15DGU21117(P) 2021 divide by zero encountered in double_scalars
SA15LGLI0N19(P) 2022 divide by zero encountered in log
SA15LGC4L8H3(P) 2022 divide by zero encountered in double_scalars
Syria
UAE

C:\Users\samir\AppData\Roaming\Python\Python38\site-packages\pandas\core\internals\blocks.py:352: RuntimeWarning: divide by zero encountered in log
  result = func(self.values, **kwargs)

In [4]:
ab = pd.concat(a, axis = 0)

In [5]:
ab

,,ncskewjt,duvoljt,var,shortfall,lpsd,counts,country
ISIN,Year,,,,,,,
MA0000010415,2010,-4.722482,-3.060654,-0.014653,-0.041102,0.013402,6,Morocco
MA0000010993,2010,-0.474105,-0.528459,-0.007196,-0.040875,0.014836,8,Morocco
MA0000010571,2010,1.559545,0.474025,-0.042549,-0.062757,0.020807,13,Morocco
MA0000010019,2010,1.064971,0.651730,-0.024755,-0.042572,0.012695,10,Morocco
MA0000012593,2010,10.785185,2.724156,-0.025169,-0.068667,0.038885,2,Morocco
...,...,...,...,...,...,...,...,...
AEE01119B224(P),2022,-0.078676,0.311763,-0.020567,-0.027388,0.008659,1,UAE
BMG236541097(P),2022,-0.414731,-0.029596,-0.035978,-0.041731,0.012304,1,UAE
AEE01122B228(P),2022,-1.198999,-1.511843,-0.049768,-0.073671,0.021294,1,UAE
AEE01135A222(P),2022,1.779766,2.478490,-0.018346,-0.018925,0.006193,0,UAE
AEE01136T220(P),2022,0.713930,0.800527,-0.009896,-0.010659,0.003595,0,UAE

In [7]:
ab.to_excel("weekly.xlsx")

C:\Users\samir\AppData\Local\Temp\ipykernel_8040\2912239616.py:1: UserWarning: Pandas requires version '1.4.3' or newer of 'xlsxwriter' (version '1.3.7' currently installed).
  ab.to_excel("daily.xlsx")